<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recycle"
        tools:targetApi="31">
        <activity
            android:name=".Referencias"
            android:exported="false" />
        <activity
            android:name=".EtapaQuatro"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EtapaTres"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Creditos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EtapaDois"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EtapaUm"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EtapasProjetoREGER"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SobreProjetoReger"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecyclePlus"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>